

article.centro {
    border: solid black 1px;
    margin: 0.5em 0em;
    padding: 0.5em;
    background-color: #ddd;
}

code.codigos {
    display: block;
    height: 200px;
    overflow: scroll;
    margin: 1em;
}
