

article.centro {
    border: solid black 1px;
    margin: 0.5em 0em;
    padding: 0.5em;
    background-color: #ddd;
}

code.codigos {
    display: block;
    height: 200px;
    overflow: scroll;
    margin: 1em;
}

.osm img {
    margin-right: 0.2em;
}

.modal-content {
    padding: 2em;
}

.modal-content p{
    text-align: justify;
    text-indent: 1em;
}

.modal-content p a{
text-indent: 0;
}

#mapaposicion {
    height: 400px;
}
